
.text {font-family:"Trebuchet MS",sans-serif;}
.btn { font-size: 100%}
.inp { font-size: 130%}

.table1{	border: 1px solid black;
border-collapse: collapse;
}
.row1,.td1{
	
    width: 150px;
	border: 1px solid black;
	text-align: center;
	padding: 8px;

	
}
.row1:nth-child(even) {background-color: #C0C0C0;}